{% extends "base.html.twig" %}

{% block content %}

    {% if expense.id > 0 %}
        <form method="post" action="/expenses/{{ expense.id }}/edit" class="form-horizontal" role="form">
            <input type="hidden" name="expense[id]" value="{{ expense.id }}" />
    {% else %}
        <form method="post" action="/expenses/add" class="form-horizontal" role="form">
    {% endif %}

        <div class="form-group">
            <label for="person" class="col-lg-2">Payeur</label>
            <div class="col-lg-10">
                <select class="form-control" name="expense[person_id]" required="required">
                    {% for person in persons %}
                        {% set selected = '' %}
                        {% if person.id == expense.person_id %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option value="{{ person.id }}" {{ selected }}>{{ person.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-lg-2">Prix</label>
            <div class="col-lg-10">
                <div class="input-group">
                    <input
                        type="text"
                        name="expense[price]"
                        value="{{ expense.price }}"
                        class="form-control"
                        required="required"
                        pattern="-?[0-9]+(\.[0-9][0-9]?)?"
                        autocomplete="off"
                    />
                    <span class="input-group-text">€</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="tr" class="col-lg-2">Ticket resto</label>
            <div class="col-lg-10">
                <input
                    type="number"
                    name="expense[tr]"
                    value="{{ expense.tr }}"
                    class="form-control"
                    required="required"
                    pattern="[0-9]+"
                    autocomplete="off"
                />
            </div>
        </div>

        <div class="form-group">
            <label for="shop" class="col-lg-2">Magasin</label>
            <div class="col-lg-10">
                <input
                    type="text"
                    name="expense[shop]"
                    value="{{ expense.shop }}"
                    class="form-control"
                    required="required"
                />
            </div>
        </div>

        <div class="form-group">
            <label for="shop" class="col-lg-2">Description</label>
            <div class="col-lg-10">
                <input
                    type="text"
                    value="{{ expense.description }}"
                    name="expense[description]"
                    class="form-control"
                />
            </div>
        </div>

        <div class="form-group">
            <label for="created" class="col-lg-2">Date</label>
            <div class="col-lg-10">
                <input
                    type="date"
                    value="{{ expense.created | date('Y-m-d') }}"
                    name="expense[created]"
                    class="form-control"
                />
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="/" class="btn btn-default">Annuler</a>
        </div>
    </form>
{% endblock %}
