{% extends "layout.html.twig" %}

{% block content %}

    {% if payment.id > 0 %}
        <form method="post" action="/payments/{{ payment.id }}/edit" class="form-horizontal" role="form">
            <input type="hidden" name="payment[id]" value="{{ payment.id }}" />
    {% else %}
        <form method="post" action="/payments/add" class="form-horizontal" role="form">
    {% endif %}

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Payeur</th>
                    <th>Magasin</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in payment.expenses %}
                    <tr>
                        <td>
                            <input type="hidden" value="off" name="expenses[{{ expense.id }}]">
                            <input type="checkbox" name="expenses[{{ expense.id }}]"
                                {% if expense.payment_id == payment.id %}
                                    checked="checked"
                                {% endif %}
                            />
                        </td>
                        <td>{{ expense.created | date('d/m/Y') }}</td>
                        <td>{{ expense.person.name }}</td>
                        <td>{{ expense.shop }}</td>
                        <td>{{ expense.price | number_format(2) }} €</td>
                        <td>{{ expense.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="/payments" class="btn btn-default">Annuler</a>
        </div>
    </form>

{% endblock %}
